@import './variaveis';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  object-fit: cover;
  font-family: var(--fonte);
  max-width: 1280px; 
  min-height: 100vh;
  margin: 0 auto;
  color: var(--branco); 
  background-color: var(--azul-escuro);
}

li {
  list-style: none;
}
