@import './variaveis.scss';

#sobre {
  padding: 70px 0 100px 0;

}

.team-flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  max-width: 100vw;
  gap: 20px;

  .member {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    width: 30%;
    min-width: 300px;

    .member_foto {
      margin: 0 auto;

      img {
        width: 240px;
        height: 240px;
        border-radius: 100%;
        margin: 0 auto;
        object-fit: cover;
      }

    }

  }
}

@media (max-width: 768px) {

  #sobre {
    padding-top: 80px;
  }

  .team-flex {
    gap: 50px;

    .member {
      width: 90%;

      .member_foto img {
        width: 160px;
        height: 160px;
      }

    }
  }
}