@import  "./variaveis.scss";

.cubo {
  position: relative;
  max-width: 100vw;
  padding: var(--alinhar-section);
  overflow: hidden;
  min-height: 500px;
}

.cubo_text {
  .cubo_title  {
    font-size: var(--titulo);
    font-weight: 700;
    gap: 10px;

    p {
      margin: 20px 0;
    }
    
    .laranja {
      margin: 0;
      color: var(--laranja);
    }

    .azul {
      color: var(--azul);
    }
  }

  .cubo_lead {
    font-size: var(--texto);
    margin: 20px 0;
    max-width: 600px;
    line-height: 1.4;
  }
}

.cubo_art {
  position: absolute;
  transform: translate(55%, -90%);
  z-index: -1;

  img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    opacity: 0.8;
  }
}

@media (min-width: 500px) {
  .cubo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .cubo_text {
    max-width: 50%;
    
    p { 
      font-size: 3.5rem;
    }
  }

  .cubo_art {
    position: relative;
    transform: translate(0, 0); 
    max-width: 50%;
    z-index: 0;

    img {
      opacity: 1;
      max-height: 600px;
    }
  }


}