@import  "./variaveis.scss";

.cubo {
  position: relative;
  max-width: 100vw;
  padding: var(--alinhar-section);
  overflow: hidden;
  min-height: 400px;
}

.cubo_text {
  .cubo_title  {
    font-size: var(--titulo);
    font-weight: 700;
    gap: 10px;

    p {
      margin: 20px 0;
    }
    
    .laranja {
      margin: 0;
      color: var(--laranja);
    }

    .azul {
      color: var(--azul);
    }
  }

  .cubo_lead {
    font-size: var(--texto);
    margin: 20px 0;
    max-width: 600px;
    line-height: 1.4;
  }
}

.cubo_art {
  position: absolute;
  transform: translate(55%, -95%);
  z-index: -1;

  img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    opacity: 0.8;
  }
}