@import "./variaveis.scss";

@keyframes rotacao {
  from {
    transform: rotateY(0deg); // Equivalente a rotateZ(0deg) em 2D
  }

  to {
    transform: rotateY(360deg); // Equivalente a rotateZ(360deg) em 2D
  }
}

.cubo {
  position: relative;
  max-width: 100vw;
  padding: var(--alinhar-section);
  overflow: hidden;
  min-height: 500px;
  margin-top: 20px;
}

.cubo_text {
  .cubo_title {
    font-size: 4rem;
    font-weight: 700;
    font-family: var(--fonte);
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;

    .laranja {
      margin: 0;
      color: var(--laranja);
    }

    .azul {
      color: var(--azul);
    }
  }

  .cubo_lead {
    font-size: var(--texto);
    font-family: var(--fonte);
    font-weight: 300;
    width: 75%;
    max-width: 700px;
    line-height: 1.9;
    margin-top: 90px;
  }
}

.cubo_art {
  position: absolute;
  transform: translate(22%, -130%);
  z-index: -1;

  img {
    width: auto;
    height: 550px;
    //max-height: 500px;
    //object-fit: cover;
    opacity: 0.8;

    //animation: rotacao 50s linear infinite; /* Rotação lenta de 20s */
    //transform-origin: center; /* Garante que a rotação seja a partir do centro */
  }
}

@media (min-width: 700px) {
  .cubo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 90vh;
    min-height: 0; 
    margin-top: 0;  
  }

  .cubo_text {
    max-width: 50%;

    .cubo_title {

      margin-top: 0px;

      p {
        font-size: 6rem;
        display: inline-block;
        margin: 0;
        margin-right: 15px;
      }
    }

    .cubo_lead {
      font-size: var(--texto);
      line-height: 1.5;
      margin-top: 30px;
      width: 95%;
    }
  }

  .cubo_art {
    position: relative;
    transform: translate(0, -5%);
    width: 50%;
    left: 130px;
    z-index: 0;

    img {
      opacity: 1;
      height: 600px;
    }
  }
}