@import './variaveis.scss';

.proj_title {
  text-align: center;
  margin: 40px 0;
  font-size: var(--titulo);
  color: var(--laranja);
}

.proj-flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  max-width: 100vw;
  gap: 20px;
  
  .proj {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    width: 30%;
    min-width: 300px;
    
    .proj_foto {
      margin: 0 auto;
      
      img {
        width: 250px;
        height: 250px;
        margin: 0 auto;
      }
    }
    
    .proj_name {
      font-size: 1.7rem;
      margin: 15px 0;
      color: var(--laranja);
    }
    
    .proj_bio {
      text-align: center;
      font-size: 1.2rem;
      padding: 0 10px;
      letter-spacing: 1.2px;
      line-height: 25px;
    }

    .proj_socials {
      display: flex;
      // width: 90%;
      gap: 20px;
      margin: 20px auto;

      img {
        width: 41px;
        height: 41px;
        object-fit: cover;
      }
    }
  }
}


@media (max-width: 768px) {
  .proj-flex{

    .proj {
      .proj_name {
        font-size: 1.5rem;
      }
    
      .proj_bio {
        font-size: 1rem;
      }
    }
  }
}