@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --laranja: #FF7043;
  --branco: #FFFFFF;
  --azul: #2958A3;
  --azul-escuro: #141A20;
  
  --alinhar-section: 12px 16px;
  --fonte: "Space Grotesk", sans-serif;

  --titulo: 2.4rem;
  --titulo-mob: 1.9rem;

  --subtitulo: 1.7rem;
  --subtitulo-mob: 1.3rem;

  --texto: 1rem;
  --texto-mob: 0.85rem;
}