@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --laranja: #FF7043;
  --branco: #FFFFFF;
  --azul: #2958A3;
  --azul-escuro: #141A20;
  --titulo: 2.4rem;
  --texto: 1rem;
  --alinhar-section: 12px 16px;
  --fonte: "Space Grotesk", sans-serif;
}